.up-input-form{
    text-align: center;
    padding: 15px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 350px;
    max-height: auto;
    margin: 50px auto 0;
}
.up-input-container{
    padding: 12px;
}
 .in-message{
    color: red;
    font-size: 10px;
    padding: -10px;
 }