* {
    margin: 0;
    padding: 0;
}

.step1 {
    text-align: center;
}
.upload-box {
    width: 70%;
    height: 180px;
    margin: 0 auto;
    border: 2px solid #f2f2f2;
    border-radius: 5px; 
    box-shadow: 0 0 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload {
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 200%;
    color: gray;
  }

  .file-btn {
    display: none;
  }

  .submit-box {
    margin: 0 auto;
    width: 140px;
    height:55px;
  }

  .submit-file {
    margin-top: 70px;
    width: 100%;
    height:100%; 
    background-color: #106DF6;
    border-radius: 5px;
    border: 1px solid #106DF6;
    color: white; 
  }

  

  @media (min-width: 1000px){
    .step1{
        font-size: 28px; 
    }
    .upload{
      font-size: 18px;
    }
  }
  
  @media (min-width: 600px) and (max-width:999px){
    .step1{
        font-size: 22px; 
    } 
    .upload {
      font-size: 16px;
    }

  }
  
  @media (max-width: 599px){ 
    .step1{
        font-size: 16px; 
    }
   .upload-box {
    font-size:12px;
   }

  
  }