* {
    margin: 0;
    padding: 0;
}

.step1 {
    text-align: center;
}
.upload-box {
    width: 70%;
    height: 180px;
    margin: 0 auto;
    border: 3px solid #f2f2f2;
    box-shadow: 0 0 2px grey;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload {
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 200%;
    color: gray;
  }

  .file-btn {
    display: none;
  }

  .submit-box {
    margin: 0 auto;
    width: 140px;
    height:55px;
  }

  .submit-file {
    margin-top: 40px;
    width: 60%;
    height:70%; 
    background-color: #106DF6;
    border-radius: 5px;
    border: 1px solid #106DF6;
    color: white; 
  }

  .form-container {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  

  @media (min-width: 1000px){
   .text {
    font-size: 18px;
   } 
  }
  