*{
    margin: 0;
    padding: 0;
}

.creates-container {
    margin-top: 50px;
    margin-bottom: 40px;   
  }
.upload-box {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #f2f2f2;
    border-radius: 5px; 
    box-shadow: 0 0 7px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload {
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 200%;
    color: gray;
  }


  .select-box{
    padding-top: 40px;
    padding-bottom: 40px;
    width:60%;
    margin: 0 auto;
  }

  .submit {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #106DF6;
    color: #106DF6;
    width: 70px;
    height:35px;
    float: right;
  }

  @media (min-width: 1000px){
    .upload{
      font-size: 24px;
    }
  }
  
  @media (min-width: 600px) and (max-width:999px){ 
    .upload {
      font-size: 16px;
      line-height:50px;
    }
  
  }
  
  @media (max-width: 599px){ 
   .upload {
    font-size:12px;
    line-height:40px; 
   }
  }